<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title}} &raquo; {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="{{ BASE_PATH }}atom.xml" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/pygments.css?body=1" rel="stylesheet" type="text/css" media="all">

    {% if page and content %}
    {% assign summary = content | split: '<div class="span8">' | last | strip_html | truncatewords: 45 %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">
    <meta name="twitter:url" content="{{ site.production_url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ summary }}">

    <!-- http://ogp.me -->
    <meta property="og:type" content="article">
    <meta property="og:article:author" content="{{ site.author.name }}">
    <meta property="og:url" content="{{ site.production_url }}{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.image %}
    <meta name="twitter:image" content="{{ site.production_url }}/assets/images/{{ page.image }}.sq.jpg">
    <meta property="og:image" content="{{ site.production_url }}/assets/images/{{ page.image }}.sq.jpg">
    {% else %}
    <meta name="twitter:image" content="{{ site.production_url }}/assets/images/coffee_fillup.png">
    <meta property="og:image" content="{{ site.production_url }}/assets/images/coffee_fillup.png">
    {% endif %}
    {% endif %}
  </head>

  <body>
    <div class="container" id="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
              <div class="nav-collapse">
                <ul class="nav">
                  {% assign pages_list = site.pages %}
                  {% assign group = 'navigation' %}
                  {% include JB/pages_list %}
                </ul>
                <ul class="nav pull-right">
                  <li class="navbar-text">{{ site.tagline }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      <div class="content">
        {{ content }}
      </div>
    </div> <!-- /container -->

    <footer class="container">
      <p>&copy; {{ site.author.name }} 2012 
        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
      </p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/javascripts/jquery.oembed.min.js"></script>
    <script src="{{ ASSET_PATH }}/javascripts/app.js"></script>
    {% include JB/analytics %}
  </body>
</html>
